<h2>Hi <%= @user.name %>,</h2>

  <p>You have successfully assigned the following bug to yourself:</p>

  <h3>Title: <%= @bug.title %></h3>
  <p>Description: <%= @bug.description %></p>
  <p>Status: <%= @bug.status %></p>
  <p>Deadline: <%= @bug.deadline %></p>
  
  <p>You can view this bug in your dashboard.</p>

  <p>Thank you!</p>